<div class="field">
  <%= form.label 'Amount in ml per bottle:' %>
  <%= form.text_field :amount_in_ml %>
</div>
<div class="field">
  <%= form.label 'Number of bottles available:' %>
  <%= form.text_field :number_of_bottles_available %>
<%# <% select :method, %w(Cash Credit Check) %> 
</div>