// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    margin:0px; 
    padding:0px;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    
}